#r1
{
border:2px solid red;
margin-top: 5%;
height: 30vh;
}

#r2
{
    border:2px solid red;
margin-top: 5%;
height: 20vh;
}

#r3
{
    border:2px solid red;
margin-top: 5%;
height: 20vh;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    padding: 8px;   
    text-align: left;
    border-bottom: 1px solid #ddd;
}